
/* The side navigation menu */
.sidenav {
    height: 95%;
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    bottom: 0; /* Stay at the top */
    right: 0;
    display: none;
    background-color: #818181;
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.index4 {
    z-index: 4 !important;
}

        /* When you mouse over the navigation links, change their color */
        .sidenav .closebtn:hover {
            color: #000;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        position: absolute;
        top: 0;
        right: 0px;
        font-size: 36px;
        margin-left: 0px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
